<input
  nz-input
  placeholder="Search products..."
  [(ngModel)]="search"
  (ngModelChange)="onSearchSubmit($event)"
/>
@if (isLoading()) {
<div class="loading-container">
  <nz-spin nzSize="large"></nz-spin>
</div>
} @else if (products().length === 0) {
<div class="no-products-container">
  <div class="no-products-message">
    <h3>No products found</h3>
    <p>Try adjusting your search criteria or browse all products.</p>
  </div>
</div>
} @else {
<div class="products-grid">
  @for(product of products(); track product.id) {
  <nz-card
    (click)="viewProduct(product.id)"
    class="product-card"
    [nzCover]="coverTemplate"
    [nzBodyStyle]="{ padding: '16px' }"
  >
    <!-- nzHoverable -->
    <ng-template #coverTemplate>
      <div class="image-container">
        <img
          [alt]="product.title"
          [src]="product.images[0]"
          class="product-image"
          loading="lazy"
        />
      </div>
    </ng-template>

    <nz-card-meta
      [nzTitle]="product.title"
      [nzDescription]="product.description.slice(0, 80) + '...'"
    >
    </nz-card-meta>

    <!-- <div class="product-details">
          <div class="price-section">
            <span class="price">${{ product.price }}</span>
            @if(product.discount > 0) {
              <span class="discount">-{{ product.discount }}%</span>
            }
          </div>

          <div class="product-meta">
            <span class="brand">{{ product.brand }}</span>
            <span class="category">{{ product.category }}</span>
          </div>
        </div> -->
  </nz-card>
  }
</div>
<div class="pagination-container">
  <nz-pagination
    [nzPageIndex]="pagination().currentPage"
    [nzPageSize]="pagination().pageSize"
    [nzTotal]="pagination().totalItems"
    [nzPageSizeOptions]="pageSizeOptions"
    (nzPageIndexChange)="onPageChange($event)"
    (nzPageSizeChange)="onPageSizeChange($event)"
  ></nz-pagination>


</div>
}
